#container #header h1
{
  color:black;

  text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #767474,
        -2px 4px 1px #7b7a7a,
        -3px 6px 1px #828181,
        -4px 8px 1px #8b8a89,
        -5px 10px 1px #949392,
        -6px 12px 1px #9e9c9c,
        -7px 14px 1px #a8a6a6,
        -8px 16px 1px #b2b1b0,
        -9px 18px 1px #bcbbba,
        -10px 20px 1px #c6c4c4,
        -11px 22px 1px #cfcdcd,
        -12px 24px 1px #d8d6d5,
        -13px 26px 1px #dfdddc,
        -14px 28px 1px #e4e3e2;

}
h4 {
	color:green;
	margin:0;
}
h2{
	color:blue;
}

p { color: blue;}

body {

	background-color: black;
	font-family:helvetica, arial, sans-serif;
}

#container{

	background-color: white;
	width: 800px;
	margin-left:auto;
	margin-right: auto;

}

#header {

	background-color:grey;
	color:white;
	text-align: left;
	padding: 20px;

}
#content{

	padding: 10px;

}
#nav {

	width: 180px;
	float: left;
	background-color: #999999;
	text-align:right;
}
#main{
	width:600px;
	float:right;
}

#footer{

	clear:both;
	background-color: #999999;
	color:blue;
	padding: 10px;

}
/* effet 3d*/
#devant
{
    z-index: 100;
    /*background-image: linear-gradient(white, green); */
	background-image: url(images/bbjohn.jpg);
}

#derriere
{
    z-index: 50;
    /*background-image: linear-gradient(white, red); */
    transform: rotateY(-180deg); /* Celui-ci est retourné par défaut */
	background-image: url(images/bbzag.jpg);
}

#devant:hover
{
    transform: rotateY(360deg); /* On passe de 0 à 360° : tour complet */
}

/*
Astuce :
Lorsqu'on survole le bloc devant, on applique une rotation au bloc derriere
*/
#devant:hover + #derriere
{
    transform: rotateY(180deg);  /* On passe de -180° à 180° : tour complet */
}
hr {
	clear:both;
}

/* #container #content #main #devant */
#footer2
{
   /* width: 200px;
    height: 160px; */
	
    position: absolute;
    top: 200px;
    left: 500px;
    opacity: 1;
    border: 2px solid #444;
    text-align: left;
    font-size: 1.3em;
    font-family: arial, sans-serif;
    transition: 2s;
	backface-visibility: hidden; /* Permet d'éviter de voir le bloc de dos */
	
}

